[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tensorflow = "*"
torch = "*"
torchvision = "*"
black = "*"
flake8 = "*"
isort = "*"
ipython = "*"
pytest = "*"
numpy = "*"

[packages]
jinja2 = "*"
pyutensor = {file = ".", editable = true}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
