[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[packages]
tensorflow = "==2.9.3"
torch = "*"
torchvision = "*"
jinja2 = "*"

[requires]
python_version = "3.7"
