[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
ipython = "*"

[packages]
tensorflow = "==2.4.4"
torch = "1.7.0"
torchvision = "*"
jinja2 = "*"

[requires]
python_version = "3.8"
